In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('Data_User_Modeling.csv')
df.head()

    STG   SCG   STR   LPR   PEG       UNS
0  0.00  0.00  0.00  0.00  0.00  very_low
1  0.08  0.08  0.10  0.24  0.90      High
2  0.06  0.06  0.05  0.25  0.33       Low
3  0.10  0.10  0.15  0.65  0.30    Middle
4  0.08  0.08  0.08  0.98  0.24       Low

In [4]:
df.columns.tolist()

['STG', 'SCG', 'STR', 'LPR', 'PEG', ' UNS']

In [5]:
df.describe()

              STG         SCG         STR         LPR         PEG
count  258.000000  258.000000  258.000000  258.000000  258.000000
mean     0.371147    0.355674    0.468004    0.432713    0.458539
std      0.210271    0.211962    0.245940    0.248108    0.255211
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.240750    0.210000    0.291250    0.250000    0.250000
50%      0.327000    0.302500    0.490000    0.330000    0.500000
75%      0.495000    0.497500    0.690000    0.647500    0.660000
max      0.990000    0.900000    0.950000    0.990000    0.930000

In [15]:
a = df.mean()
b = df.std()
c = df.median()
d = df.mode()
e = df.max()
f = df.min()
#g = df.std()
#h = df.abs()
#i = df.prod()
#j = df.cumsum()

In [23]:
j

,STG,SCG,STR,LPR,PEG,UNS
0,0.000,0.000,0.000,0.00,0.000,very_low
1,0.080,0.080,0.100,0.24,0.900,very_lowHigh
2,0.140,0.140,0.150,0.49,1.230,very_lowHighLow
3,0.240,0.240,0.300,1.14,1.530,very_lowHighLowMiddle
4,0.320,0.320,0.380,2.12,1.770,very_lowHighLowMiddleLow
...,...,...,...,...,...,...
253,93.276,88.684,117.755,109.68,115.933,very_lowHighLowMiddleLowMiddleMiddlevery_lowLo...
254,94.056,89.294,118.465,109.87,116.533,very_lowHighLowMiddleLowMiddleMiddlevery_lowLo...
255,94.596,90.114,119.175,110.16,117.303,very_lowHighLowMiddleLowMiddleMiddlevery_lowLo...
256,95.096,90.864,119.985,110.77,117.563,very_lowHighLowMiddleLowMiddleMiddlevery_lowLo...
257,95.756,91.764,120.745,111.64,118.303,very_lowHighLowMiddleLowMiddleMiddlevery_lowLo...

In [11]:
for i,j in zip(a,b):
    print(i,j)

0.37114728682170545 0.21027120159970078
0.35567441860465115 0.21196232184048855
0.4680038759689923 0.2459397683066402
0.4327131782945737 0.24810802196816695
0.45853875968992247 0.25521089251667145

In [28]:
type(float("Nan"))

float

In [29]:
b==g

STG    True
SCG    True
STR    True
LPR    True
PEG    True
dtype: bool

In [30]:
d={}
d[1]=12
d[2]=3
d

{1: 12, 2: 3}